<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="quiz" connectionString="Data Source=DESKTOP-J88O62V\FAISALAMIN;Initial Catalog=quizapp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuizApplication.Properties.Settings.quizappConnectionString"
      connectionString="Data Source=DESKTOP-J88O62V\FAISALAMIN;Initial Catalog=quizapp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>